# Ignore mekhq logs directory
mekhq-windows-0.47.2/logs/*

# Ignore megamek & megameklab settings and mekhq prefrences
mekhq-windows-0.47.2/mmconf/megameklab.properties
mekhq-windows-0.47.2/mmconf/mekhq.preferences
mekhq-windows-0.47.2/mmconf/clientsettings.xml


# Ignore unit cache file
mekhq-windows-0.47.2/data/mechfiles/units.cache

# Ignore megemek saves directory
mekhq-windows-0.47.2/savegames/*
